{% extends "Layout.html" %} {% block title %}
<header>Adoption Center</header>
{% endblock title %} {% block pagename %}
<h1>Home</h1>
{% endblock pagename %} {% block phrase %}
<ul>
  <li>
    <a href="/adoptions">Adoptions</a>
  </li>
  <li>
    <a href="/cats">Cats</a>
  </li>
  <li>
    <a href="/dogs">Dogs</a>
  </li>
  <li>
    <a href="/login">Log in</a>
  </li>
  <li>
    <a href="/become_partner">Become Partner</a>
  </li>
  <li>
    <a href="/management">Management</a>
  </li>
</ul>
{% endblock phrase %}
